<div class="container-fluid posts-people-container p-5">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <div class="row">
                <div class="posts-people col-md-4" *ngFor="let user of users">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="card-people-container">
                                <div class="row">
                                    <a [routerLink]="['/profile', user._id]">
                                        <div class="avatar-profile">
                                            <img src="{{url + 'get-image-user/' + user.image}}" *ngIf="user.image" />
                                            <img src="assets/user.png" *ngIf="!user.image" />
                                        </div>
                                    </a>
                                </div>
        
                                <div class="row">
                                    
                                        <!--<a [routerLink]="['/profile', user._id]">-->
                                            <div class="fullname">
                                                <h5 class="text-center">{{user.name + ' ' + user.surname}}</h5>
                                            </div>
                                        <!--</a>-->
                                </div>

                                <div class="row">
                                    <div class="">
                                        <h6 class="text-center">{{user.nick}}</h6>
                                    </div>
                                </div>
        
                                <div class="" *ngIf="user._id != identity._id">
                                    <button class="btn btn-secondary disabled" *ngIf="follow_me.indexOf(user._id) < 0">
                                        No te sigue
                                    </button>
                                    <button class="btn btn-secondary disabled" *ngIf="follow_me.indexOf(user._id) >= 0">
                                        Te sigue
                                    </button>
                                    <button class="btn btn-success" *ngIf="follows.indexOf(user._id) < 0" (click)="followUser(user._id)">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Seguir
                                    </button>
                                    <button class="btn btn-primary" *ngIf="follows.indexOf(user._id) >= 0" (mouseenter)="mouseEnter(user._id)" (mouseleave)="mouseLeave(user._id)" (click)="unfollowUser(user._id)" [class.btn-danger]="user._id == followUserOver">
                                        <span *ngIf="user._id == followUserOver; else following">
                                            <span class="glyphicon glyphicon-minus-sign"></span> Dejar de seguir
                                        </span>
                                        <ng-template #following>
                                            <span class="glyphicon glyphicon-ok-sign"></span> Siguiendo
                                        </ng-template>
                                    </button>
                                </div>
                            </div>
                                    
                           
                        </div>
                    </div>
                            

                </div>
            </div>
        </div>
    </div>
</div>