<div class="container-fluid footer-container p-5">
    <div class="row">
        <div class="col-md-3 column text-left">
            <h5 class="text-purple">Worklic</h5>
            <p class="text-gray-500 text-justify">La plataforma que conecta el talento creativo y con las empresas, disminuyendo la cadena de contratacion y simplificando procesos.</p>
            
        </div>
        <div class="col-md-3 column text-left">
            <h3 class="">Navegacion</h3>
            <ul class="">
                <li>
                    <a class="text-gray-500" href="#">Inicio</a>
                </li>
                <li>
                    <a class="text-gray-500" href="#">Como funciona?</a>
                </li>
                <li>
                    <a class="text-gray-500" href="#">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 column text-left">
            <h3 class="">Usuarios</h3>
            <ul class="text-gray-500">
                <li>
                    <a class="text-gray-500" href="#">Soy Profesional</a>
                </li>
                <li>
                    <a class="text-gray-500" href="#">Soy Empresa</a>
                </li>
                <li>
                    <a class="text-gray-500" href="#">Iniciar sesion</a>
                </li>
                <li>
                    <a class="text-gray-500" href="#">Resgistrarse</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 column text-left">
            <h3 class="">Legal</h3>
            <ul>
                <li>
                    <a class="text-gray-500" href="#">Soy Profesional</a>
                </li>
                <li>
                    <a class="text-gray-500" href="#">Soy Empresa</a>
                </li>
                <li>
                    <a class="text-gray-500" href="#">Iniciar sesion</a>
                </li>
                <li>
                    <a class="text-gray-500" href="#">Resgistrarse</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-6 text-center">
            <p>&copy; 2025 Worklic. Todos los derechos reservados.</p>
        </div>
        <div class="col-md-6 text-center">
            <p> Social Media</p>
        </div>
    </div>
</div>
