<div class="container-fluid footer-container p-5">
    <div class="row">
        <div class="col-md-3 text-center">
            <a class="">Worklic</a>
            <p>La plataforma que conecta el talento creativo y con las empresas, disminuyendo la cadena de contratacion y simplificando procesos.</p>
            <p>&copy; 2025 Worklic. Todos los derechos reservados.</p>
        </div>
        <div class="col-md-3 text-center">
            <h3 class="">Navegacion</h3>
            <ul>
                <li>
                    <a class="" href="#">Inicio</a>
                </li>
                <li>
                    <a class="" href="#">Como funciona?</a>
                </li>
                <li>
                    <a class="" href="#">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 text-center">
            <h3 class="">Usuarios</h3>
            <ul>
                <li>
                    <a class="" href="#">Soy Profesional</a>
                </li>
                <li>
                    <a class="" href="#">Soy Empresa</a>
                </li>
                <li>
                    <a class="" href="#">Iniciar sesion</a>
                </li>
                <li>
                    <a class="" href="#">Resgistrarse</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 text-center">
            <h3 class="">Legal</h3>
            <ul>
                <li>
                    <a class="" href="#">Soy Profesional</a>
                </li>
                <li>
                    <a class="" href="#">Soy Empresa</a>
                </li>
                <li>
                    <a class="" href="#">Iniciar sesion</a>
                </li>
                <li>
                    <a class="" href="#">Resgistrarse</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <p>&copy; 2025 Worklic. Todos los derechos reservados.</p>
        </div>
        <div class="col-md-6 text-center">
            <p> Social Media</p>
        </div>
    </div>
</div>
