.footer-container{

    .column {
        ul {
            list-style: none;
            padding-left: 0px;
            li{
                a{
                    text-decoration: none;
                }

            }
        }

    }

}