
.header-timeline-container{

    .profile-user-container {

        .header-profile{
            height: 75px;
            background-color: #593EFF;
        }

        .avatar-float {
            position: relative;
            top: -40px;
        }

        .avatar-profile{
            margin: auto;
            height: 100px;
            width: 100px;
            
        }
    
        .avatar-profile img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    
    
    .information-user-container{
    
        .title {
            color: #B5B5B5;
        }
    
        .description {
            color: #505050;
        }
    
    }
    
    }