
    <div class="sticky-top">
        <div class="d-flex flex-sm-column flex-row flex-nowrap align-items-center sticky-top">
            <!-- <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                <i class="bi-bootstrap fs-1"></i>
            </a> -->
            <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center">
                <li class="nav-item">
                    <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Timeline" role="button" [routerLink]="['/timeline']" [routerLinkActive]="['active']" >
                        <i class="bi-house fs-1"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Profile"  role="button" [routerLink]="['/profile']" [routerLinkActive]="['active']" >
                        <i class="bi-person-circle fs-1"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="People" role="button" [routerLink]="['/people']" [routerLinkActive]="['active']" >
                        <i class="bi-people fs-1"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Chat" role="button" [routerLink]="['/chat']" [routerLinkActive]="['active']" >
                        <i class="bi-chat fs-1"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Configuration" role="button" [routerLink]="['/config']" [routerLinkActive]="['active']">
                        <i class="bi-gear fs-1"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Configuration" role="button" [routerLink]="['/profile-update']" [routerLinkActive]="['active']">
                        <i class="bi-person-gear fs-1"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Logout" role="button" (click)="logout()">
                        <i class="bi-escape fs-1"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
