<div class="container-fluid jumbotron-container">
    <div class="row">
        <div class="p-5 mb-4 rounded-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">

                        <h1 class="display-5 fw-bold">Tu proximo trabajo a un click!</h1>
                        <p class="fs-4 text-gray-500 text-justify"> En worklic conectamos el mejor talento humano con las empresas mas top del mercado. Encuentra diseñadores, ilustradores, arquitectos, desarrolladores y mas profesionales.</p>
                        <a class="btn btn-primary btn-lg" href="#"> Empezar ahora</a>
                    </div>
                    <div class="col-md-6">
                        <img src="assets/images/home/jumbotron-worklic-home.png" alt="worklic" class="img-fluid">
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>