.feature-container{
    
    .bi {
        vertical-align: 50px;
        fill: #FFF;
    }
      
    .feature-icon {
        margin-bottom: 1rem;
        font-size: 2rem;
        color: #FFF;
        border-radius: .75rem;
    }
}