<div class="container-fluid feature-container p-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-purple text-center mb-4">Flujo</h2>
            <h3 class="text-center mb-4">Como funciona Worklic?</h3>
            <p class="lead text-gray-500 text-center">
                Worklic es una plataforma que conecta el talento creativo y con las empresas, disminuyendo la cadena de contratacion y simplificando procesos.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="row g-4 row-cols-1 row-cols-lg-3">
            <div class="feature col">
              <div class="feature-icon bg-primary bg-gradient">
                <i class="bi-house fs-1"></i>
              </div>
              <h3>Regístrate</h3>
              <p class="text-gray-500">Crea tu cuenta como profesional o como empresa.</p>
              <a href="#" class="icon-link">
                Call to action
              </a>
            </div>
            <div class="feature col">
              <div class="feature-icon bg-primary bg-gradient">
                <i class="bi-house fs-1"></i>
              </div>
              <h3>Completa tu perfil</h3>
              <p class="text-gray-500">Agrega tu experiencia, formacion y habilidades a tu perfil</p>
              <a href="#" class="icon-link">
                Call to action
              </a>
            </div>
            <div class="feature col">
              <div class="feature-icon bg-primary bg-gradient">
                <i class="bi-house fs-1"></i>
              </div>
              <h3>Conecta</h3>
              <p class="text-gray-500">Descubre tus nuevas conexiones, aplica o invita.</p>
              <a href="#" class="icon-link">
                Call to action
              </a>
            </div>
          </div>
    </div>
</div>

