<div class="container-fluid bg-light searcher-container px-5 py-3">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-purple text-center mb-4">Buscador</h2>
            <h3 class="text-center mb-4">Talento creativo</h3>
            <p class="lead text-gray-500 text-center">
                Explora todo el talento creativo disponible para invitar a tus proyectos. Filtra por categoria, revisa perfiles y contacta.
            </p>
        </div>
    </div>
    <div class="row profiles">
            <div class="col-md-4 profile">
                <div class="bg-white border rounded-3 shadow-sm p-3 m-1">
                    <div class="row px-3 py-0">
                        <div class="col-md-2 avatar-profile p-0">
                            <img alt="María González" src="https://randomuser.me/api/portraits/women/1.jpg" class="img-fluid">      
                        </div>
                        <div class="col-md-8 text-left">
                            <h5 class="">María González</h5>
                            <p class="text-gray-500">Fotógrafa</p>
                        </div>
                        <div class="col-md-2 text-center p-0">
                            <div class="">★ 4.8</div>
                            <div class="text-muted">Madrid</div>
                        </div>
                    
                    </div>
                    <div class="row px-3 py-0">
                        <div class="skills">
                            <span class="badge rounded-pill bg-light text-dark">Skills...</span>
                        </div>
                    </div>
                    <div class="row py-3">
                        <div class="">Tarifa base</div>
                        <div class="text-muted">30 USD/sesión</div>
                    </div>
                </div> 
            </div>

            <div class="col-md-4 profile">
                <div class="bg-white border rounded-3 shadow-sm p-3 m-1">
                    <div class="row px-3 py-0">
                        <div class="col-md-2 avatar-profile p-0">
                            <img alt="María González" src="https://randomuser.me/api/portraits/women/2.jpg" class="img-fluid">      
                        </div>
                        <div class="col-md-8 text-left">
                            <h5 class="">María González</h5>
                            <p class="text-gray-500">Fotógrafa</p>
                        </div>
                        <div class="col-md-2 text-center p-0">
                            <div class="">★ 4.8</div>
                            <div class="text-muted">Madrid</div>
                        </div>
                    
                    </div>
                    <div class="row px-3 py-0">
                        <div class="skills">
                            <span class="badge rounded-pill bg-light text-dark">Skills...</span>
                        </div>
                    </div>
                    <div class="row py-3">
                        <div class="">Tarifa base</div>
                        <div class="text-muted">30 USD/sesión</div>
                    </div>
                </div> 
            </div>

            <div class="col-md-4 profile">
                <div class="bg-white border rounded-3 shadow-sm p-3 m-1">
                    <div class="row px-3 py-0">
                        <div class="col-md-2 avatar-profile p-0">
                            <img alt="María González" src="https://randomuser.me/api/portraits/women/3.jpg" class="img-fluid">      
                        </div>
                        <div class="col-md-8 text-left">
                            <h5 class="">María González</h5>
                            <p class="text-gray-500">Fotógrafa</p>
                        </div>
                        <div class="col-md-2 text-center p-0">
                            <div class="">★ 4.8</div>
                            <div class="text-muted">Madrid</div>
                        </div>
                    
                    </div>
                    <div class="row px-3 py-0">
                        <div class="skills">
                            <span class="badge rounded-pill bg-light text-dark">Skills...</span>
                        </div>
                    </div>
                    <div class="row py-3">
                        <div class="">Tarifa base</div>
                        <div class="text-muted">30 USD/sesión</div>
                    </div>
                </div> 
            </div>
        
    </div>
</div>
