<div class="container-fluid about-us-container p-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-purple text-center mb-4">Worklic</h2>
            <h3 class="text-center mb-4"> La mejor forma de conectar profesionales y empresas</h3>
            <p class="lead text-gray-500 text-center">
                Worklic es una plataforma que conecta el talento creativo y con las empresas, disminuyendo la cadena de contratacion y simplificando procesos.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
              <div class="h-100 p-5 bg-light border rounded-3">
                <h2 class="text-purple">Para profesionales</h2>
                <p class="text-gray-500 text-justify">Conecta con nuevas oportunidades, elige el lugar ideal para trabajar y negocia las mejores condiciones para tu perfil.</p>
                <a class="btn btn-primary btn-lg" href="#">Registrarme como profesional</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="h-100 p-5 bg-light border rounded-3">
                <h2 class="text-purple">Para empresas</h2>
                <p class="text-gray-500 text-justify">Descubre el talento creativo perfecto para tus proyectos. Nuestros algoritmos te ayudan a encontrar los profesionales mas apropiados para tu proyecto.</p>
                <a class="btn btn-primary btn-lg" href="#">Registrarme como empresa</a>
              </div>
            </div>
        </div>
    </div>
</div>
