<div class="container-fluid testimonials-container p-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-purple text-center mb-4">Testimonios</h2>
            <h3 class="text-center mb-4">El voz a voz de nuestros usuarios</h3>
            <p class="lead text-gray-500 text-center">
                Worklic esta transformando la forma de acercar el talento con las empresas.
            </p>
        </div>
    </div>
    <div class="row testimonials">

            <div class="col-md-4 testimonial ">
                <div class="border rounded-3 shadow-sm p-3 m-1">                    
                    <p class="text-gray-500 fst-italic"> "Workfy ha transformado la manera en que encuentro talento para mis proyectos. El proceso es rápido, seguro y el nivel de los profesionales es excelente." </p>
                    <div class="row">
                        <div class="col-md-2 avatar-profile">
                            <img alt="María González" src="https://randomuser.me/api/portraits/women/23.jpg" class="img-fluid">      
                        </div>
                        <div class="col-md-10 text-left">
                            <h5 class="">María González</h5>
                            <p class="text-gray-500">Lider de transformacion</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 testimonial">
                <div class="border rounded-3 shadow-sm p-3 m-1"> 
                <p class="text-gray-500 fst-italic"> "Workfy ha transformado la manera en que encuentro talento para mis proyectos. El proceso es rápido, seguro y el nivel de los profesionales es excelente." </p>
                <div class="row">
                    <div class="col-md-2 avatar-profile">
                        <img alt="María González" src="https://randomuser.me/api/portraits/women/77.jpg" class="img-fluid">      
                    </div>
                    <div class="col-md-10 text-left">
                        <h5 class="">María González</h5>
                        <p class="text-gray-500">Lider de transformacion</p>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-md-4 testimonial">
                <div class="border rounded-3 shadow-sm p-3 m-1"> 
                <p class="text-gray-500 fst-italic"> "Workfy ha transformado la manera en que encuentro talento para mis proyectos. El proceso es rápido, seguro y el nivel de los profesionales es excelente." </p>
                <div class="row">
                    <div class="col-md-2 avatar-profile">
                        <img alt="María González" src="https://randomuser.me/api/portraits/women/88.jpg" class="img-fluid">      
                    </div>
                    <div class="col-md-10 text-left">
                        <h5 class="">María González</h5>
                        <p class="text-gray-500">Lider de transformacion</p>
                    </div>
                </div>
                </div>
            </div>
       
    </div>
</div>